.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 150px;
  object-fit: cover;
}
.navbar-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-primary-btn1 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
  .navbar-primary-btn1 {
    display: none;
  }
}

.feature-card-card {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.feature-card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .feature-card-card {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-card {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-max-width {
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  height: 396px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text {
  width: 519px;
  font-size: 45px;
  text-align: left;
  margin-bottom: 42px;
}
.home-features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-text01 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
}
.home-link {
  text-decoration: none;
  background-color: rgb(228, 30, 30);
}
.home-image-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: 538px;
  height: 399px;
  object-fit: cover;
}
.home-section-one {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-max-width1 {
  width: 1462px;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.home-text02 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-max-width2 {
  width: 1230px;
  height: 424px;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container1 {
  width: 572px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image1 {
  width: 558px;
  height: 383px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text03 {
  margin-bottom: 24px;
}
.home-text04 {
  color: var(--dl-color-grays-gray100);
  text-align: justify;
}
.home-text06 {
  color: var(--dl-color-grays-gray100);
}
.home-max-width3 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  margin-bottom: 24px;
}
.home-text11 {
  color: var(--dl-color-grays-gray100);
  text-align: justify;
}
.home-text13 {
  color: var(--dl-color-grays-gray100);
}
.home-text15 {
  color: var(--dl-color-grays-gray100);
}
.home-text17 {
  color: var(--dl-color-grays-gray100);
}
.home-text19 {
  color: var(--dl-color-grays-gray100);
}
.home-text21 {
  color: var(--dl-color-grays-gray100);
}
.home-image-container2 {
  flex: 1;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-image2 {
  width: 654px;
  height: 443px;
  object-fit: cover;
}
.home-max-width4 {
  width: 1226px;
  height: 813px;
  flex-direction: column;
  justify-content: center;
}
.home-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text24 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-image3 {
  width: 1024px;
  height: 542px;
  object-fit: cover;
}
.home-cards-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-section-six {
  height: 370px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  background-color: var(--dl-color-backgrounds-primary);
}
.home-max-width5 {
  height: 318px;
  align-items: stretch;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text42 {
  color: #f9f7f7;
}
.home-text43 {
  color: #f9f7f7;
}
.home-text44 {
  color: #f9f7f7;
}
.home-text45 {
  color: #f9f7f7;
}
.home-text47 {
  color: #f9f7f7;
}
.home-text48 {
  color: #f9f7f7;
}
.home-text49 {
  color: #f9f7f7;
}
.home-text50 {
  color: #f9f7f7;
}
.home-text51 {
  color: #f9f7f7;
}
.home-text55 {
  color: #fdfbfb;
}
.home-text56 {
  color: #fdfbfb;
}
.home-text57 {
  color: #fdfbfb;
}
.home-text58 {
  color: #fdfbfb;
}
.home-text59 {
  color: #fdfbfb;
}
.home-text60 {
  color: #fdfbfb;
}
.home-text61 {
  color: #fdfbfb;
}
.home-text62 {
  color: #fdfbfb;
}
.home-text63 {
  color: #fdfbfb;
}
.home-text64 {
  color: #fdfbfb;
}
.home-text65 {
  color: #fdfbfb;
}
.home-text66 {
  color: #fdfbfb;
}
.home-text69 {
  color: #fbf4f4;
}
.home-text70 {
  color: #fbf4f4;
}
.home-text71 {
  color: #fbf4f4;
}
.home-text72 {
  color: #fbf4f4;
}
.home-text73 {
  color: #fbf4f4;
}
.home-text74 {
  color: #fbf4f4;
}
.home-text75 {
  color: #fbf4f4;
}
.home-text76 {
  color: #fbf4f4;
}
.home-text77 {
  color: #fbf4f4;
}
.home-text78 {
  color: #fbf4f4;
}
.home-text80 {
  text-align: left;
}
.home-text81 {
  color: #f9efef;
}
.home-text82 {
  color: #f9efef;
}
.home-text83 {
  color: #f9efef;
}
.home-text84 {
  color: #f9efef;
}
.home-text85 {
  color: #f9efef;
}
.home-text86 {
  color: #f9efef;
}
.home-text87 {
  color: #f9efef;
}
.home-text88 {
  color: #f9efef;
}
.home-text89 {
  color: #f9efef;
}
.home-text90 {
  color: #f9efef;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text {
    width: 100%;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text03 {
    width: 100%;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text10 {
    width: 100%;
  }
  .home-max-width5 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-text02 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-max-width3 {
    flex-direction: column-reverse;
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-image-container2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-text24 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container1 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-cards-container {
    justify-content: center;
  }
}
